body {
    text-align: center;
}

header {
    width: 100%;
    height: 330px;
}

canvas {
    max-width: 70%;
    position: absolute;
    right: 0;
    margin-right: 10%;
}

#game-panel {
    position: relative;
    border: 5px solid #000;
    box-shadow: -16px 12px 5px 1px rgba(189,187,189,1);
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 50px;
    max-width: 50%;
    height: 530px;
    color: #333;
    font-family: 'Bungee', cursive;
    position: absolute;
    text-transform: uppercase;
    text-shadow: -3px 6px yellow;
}

#game-panel h1 {
    margin-bottom: 80px;
}

#title {
    font-size: 4em;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 50px;
    padding-left: 5px;
}

#game-over {
    font-size: 4em;
    width: 100%;
    margin: 0 auto;
    color: #700;
    letter-spacing: 20px;
    margin-bottom: 80px;
    position: absolute;
    top: 22%;
}

.score-lives {
    font-size: 3em;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 5px;
    position: relative;
    text-align: left;
    padding-left: 5px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}